<form  method="post">
    <label>Nombre:</label>
    <input name="nombre"  >
    <label>Precio:</label>
    <input name="precio">
    <label>Foto</label>
    <input name="foto" >
    <button id="button">Enviar</button>
</form>
    <a href="/productos"><button>Ir a Productos</button></a>



<style>
    form {
        display: flex;
        flex-direction: column;
        width: 200px;
    }
    button {
        margin-top: 10px;
    }
</style>